server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: blog-server
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/blogplatform?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true&useSSL=false
    username: root
    password: mysql
  data:
    redis:
      database: 3
      host: localhost
      port: 6379

mybatis:
  mapper-locations: classpath:com/example/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

sky:
  jwt:
    # jwt签名加密密钥
    # jwt过期时间
    ttl: 43200000
    # 前端传递令牌名称
    token-name: token
    data-name: data
